:root {
    --primary-color: #496937;
    --secondary-color: #E7632A;
    --text-color: #333;
    --white-color: #fff;
    --light-gray: #f4f4f4;
    --font-regular: 'OnestRegular1602-hint', sans-serif;
    --font-medium: 'OnestMedium1602-hint', sans-serif;
    --font-light: 'OnestLight1602-hint', sans-serif;
    --font-bold: 'OnestBold1602-hint', sans-serif;
    --font-gogol: 'gogol_regular', sans-serif;
    --container-width: 80%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'gogol_regular';
    src: url('fonts/gogol_regular.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestThin1602-hint';
    src: url('fonts/OnestThin1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestRegular1602-hint';
    src: url('fonts/OnestRegular1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestMedium1602-hint';
    src: url('fonts/OnestMedium1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestLight1602-hint';
    src: url('fonts/OnestLight1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestExtraBold1602-hint';
    src: url('fonts/OnestExtraBold1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestBold1602-hint';
    src: url('fonts/OnestBold1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestBlack1602-hint';
    src: url('fonts/OnestBlack1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--primary-color);
    font-family: var(--font-regular);
}

.container {
    width: var(--container-width);
    margin: 0 auto;
    padding: 0 1rem;
}
