:root {
    --primary-color: #496937;
    --secondary-color: #E7632A;
    --text-color: #333;
    --white-color: #fff;
    --light-gray: #f4f4f4;
    --font-regular: 'OnestRegular1602-hint', sans-serif;
    --font-medium: 'OnestMedium1602-hint', sans-serif;
    --font-light: 'OnestLight1602-hint', sans-serif;
    --font-bold: 'OnestBold1602-hint', sans-serif;
    --font-gogol: 'gogol_regular', sans-serif;
    --container-width: 80%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'gogol_regular';
    src: url('fonts/gogol_regular.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestThin1602-hint';
    src: url('fonts/OnestThin1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestRegular1602-hint';
    src: url('fonts/OnestRegular1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestMedium1602-hint';
    src: url('fonts/OnestMedium1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestLight1602-hint';
    src: url('fonts/OnestLight1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestExtraBold1602-hint';
    src: url('fonts/OnestExtraBold1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestBold1602-hint';
    src: url('fonts/OnestBold1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestBlack1602-hint';
    src: url('fonts/OnestBlack1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--primary-color);
    font-family: var(--font-regular);
}

.container {
    width: var(--container-width);
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    background: var(--light-gray);
    padding: 1.4rem 0;
    border-radius: 0 0 1.875rem 1.875rem;
    margin-bottom: -1.25rem;
    position: relative;
    z-index: 10;
    display: flex; 
    align-items: flex-end;
}

header .logo-container{
    display: flex;
    align-items: center;
    position: absolute;
    left: 1rem;
    top: 50%; 
    transform: translateY(-50%);
    z-index: 100;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header .logo {
    margin-right: auto; 
}

header .contact-info {
    display: flex;
    align-items: flex-start;
    position: static;
    margin-left: 0;
    margin-top: 0;
    gap: 20rem;
    margin-left: 30%; 
}

header .contact-info .address-time {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

header .contact-info .time {
    font-size: 0.7rem;
    color: #1E1E1EB2;
    margin: 0;
    margin-bottom: 0.1rem;
}

header .contact-info .address {
    font-size: 1.1rem;
    color: black;
    margin: 0;
    font-family: var(--font-regular);
}

header .contact-info .phone {
    font-size: 1.1rem;
    color: black;
    margin: 0;
    font-family: var(--font-regular);
    margin-bottom: 0;
    align-self: flex-end; 
}
    
header .logo3 {
    display: flex;
    align-items: center;
    position: absolute; 
    right: 1rem; 
    margin-top: 0;
}

.hero {
    position: relative;
    height: 100vh;
    background-image: url('images/sharpei.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--white-color);
    text-align: center;
    padding-bottom: 4rem;
}

.hero-content {
    max-width: 56.25rem;
    padding: 1.25rem;
}

.hero-content h1 {
    margin: 0 0 0.625rem;
    font-family: var(--font-bold);
    font-size: 3.5rem;
    font-weight: bold;
}

.hero-content h1 .subtitle {
    font-family: var(--font-gogol);
    font-size: 4.375rem;
}

.hero-content .description {
    margin: 0 0 2.525rem;
    font-family: var(--font-light);
    font-size: 1.875rem;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 0.625rem;
}

.hero-content button {
    padding: 1rem 4rem;
    font-size: 1.3rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    font-family: var(--font-regular);
    display: flex;
    align-items: center;
    gap: 0.6rem;
    min-width: 18.75rem;
}

.hero-content button .paw-icon {
    width: 1.8rem;
    height: 1.8rem;
}

.white-rectangle {
    background-color: var(--white-color);
    padding: 5rem 1.25rem 7.5rem;
    margin-top: -0.875rem;
    position: relative;
    z-index: 5;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    overflow: visible;
    height: 95vh;
    width: 100%;
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.6);
}

.rectangle-content {
    width: 100%;
    height: 100%;
    padding: 0 1.25rem;
    position: relative;
}

.oval-stripe-about {
    position: absolute;
    padding: 0.625rem 1.875rem;
    border: 2px solid var(--white-color);
    border-radius: 3.125rem;
    background-color: var(--primary-color);
    z-index: 10;
    left: 1rem; 
     top: 1.25rem;
    margin: 0;
}

.oval-stripe-about h2 {
    font-family: var(--font-bold);
    font-size: 1.75rem;
    color: var(--white-color);
    margin: 0;
}

.passion-text {
    font-family: var(--font-bold);
    font-size: 4rem;
    color: var(--white-color);
    margin-bottom: -1.5625rem;
}

.care-text {
    font-family: var(--font-gogol);
    font-size: 4rem;
    color: var(--white-color);
    margin-bottom: -2.8125rem;
}

.principles-text {
    font-family: var(--font-bold);
    font-size: 4rem;
    color: var(--white-color);
    margin-bottom: -2.5rem;
}

.our-work-text {
    font-family: var(--font-bold);
    font-size: 4rem;
    color: var(--white-color);
    margin-bottom: 1.25rem;
}

.description-text {
    font-family: var(--font-light);
    font-size: 1.5625rem;
    color: var(--white-color);
    line-height: 1.6;
    text-align: left;
    max-width: 37.5rem;
    margin: 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1.25rem;
    margin-top: 5rem;
    width: 100%;
    padding: 0 1.25rem;
    position: relative;
    z-index: 10;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 1.5625rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

.grid-item.wide {
    grid-column: span 2;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.grid-item p {
    position: absolute;
    bottom: 0.625rem;
    left: 0.625rem;
    color: var(--white-color);
    font-family: var(--font-bold);
    font-size: 1.125rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.3125rem 0.625rem;
    border-radius: 0.3125rem;
}

.bottom-left-image {
    position: absolute;
    left: -1rem;
    top: 31.5rem;
    z-index: 10;
}
  
.bottom-left-image img {
    width: 50rem;
    height: auto;
    border-radius: 0.9375rem;
}

.small-images {
    position: absolute;
    top: 0;
    right: 1rem;
    display: flex;
    gap: 0.625rem;
    align-items: center;
}

.arrow-button {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-button.left {
    background-color: #D6E8D4;
}

.arrow-button.right {
    background-color: #6F8C5F;
}

.arrow-svg {
  width: 1rem;
    height: 1rem;
}

.arrow {
  position: relative;
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
}

.bottom-right-image {
    position: absolute;
    right: 0.625rem;
    bottom: -14rem;
    z-index: 20;
    width: 10rem;
    height: auto;
}

.oval-stripe-about {
    display: inline-block;
    padding: 0.625rem 1.875rem;
    border: 2px solid var(--white-color);
    border-radius: 3.125rem;
    background-color: var(--primary-color);
    margin-bottom: 1.25rem;
     margin-left: 0.2rem;
    position: relative;
    top: 6.4rem;
    z-index: 10;
}

.oval-stripe-about h2 {
    font-family: var(--font-bold);
    font-size: 1.75rem;
    color: var(--white-color);
    margin: 0;
}

.text-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 20px; 
    text-align: left;
    margin-left: 32rem; 
    padding-right: 5rem; 
}

.bottom-image {
    margin-top: -4.375rem;
    text-align: center;
}

.bottom-image img {
    max-width: 100%;
    height: auto;
    border-radius: 0.9375rem;
}

.full-width-image {
    position: relative;
    width: 98%;
    margin: 0 auto;
    overflow: hidden;
    top: -3.75rem;
}

.form-background {
    width: 100%;
    height: auto;
    display: block;
}

.form-content {
    position: absolute;
    top: 55%;
    left: 51%;
    transform: translate(-2%, -85%);
    background-color: transparent;
    padding: 1rem;
    max-width: 100%; 
    max-height: 80%;
    text-align: left;
}

.form-title {
    font-size: 3.5rem;
    color: var(--white-color);
    font-family: var(--font-bold);
    margin-bottom: 0.625rem;
}

.form-subtitle {
    font-size: 1.875rem;
    color: var(--white-color);
    font-family: var(--font-light);
    margin-bottom: 5rem;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.form-input {
    padding: 1.5rem;
    border: 1px solid var(--white-color);
    border-radius: 0.9375rem;
    font-size: 1rem;
    font-family: var(--font-regular);
    background-color: transparent;
    color: var(--white-color);
    height: 5rem;
}

.form-input::placeholder {
    color: var(--white-color);
}

.form-separator {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 1.25rem 0;
}

.form-button {
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: none;
    border-radius: 0.9375rem;
    font-size: 1.2rem;
    font-family: var(--font-regular);
    cursor: pointer;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-disclaimer {
    font-size: 0.8rem;
    color: white;
    font-family: var(--font-light);
    margin-top: 1.25rem;
    text-align: left;
}
.services-section {
    margin-top: 3.75rem;
    text-align: left;
    padding: 0 1.25rem;
    position: relative;
    z-index: 10;
}


.services-description {
    flex: 1; 
    text-align: left; 
}

.services-description p {
    font-family: var(--font-bold); 
    font-size: 4.375rem; 
    color: var(--white-color); 
    line-height: 1.2; 
    margin: 0;
}

.oval-stripe-services {
    display: inline-block;
    padding: 0.625rem 1.875rem;
    border: 2px solid var(--white-color);
    border-radius: 3.125rem;
    background-color: var(--primary-color);
    margin-bottom: 1.25rem;
    position: relative;
    z-index: 10;
    align-self: flex-start;
    left: 1rem;
}

.oval-stripe-services h2 {
    font-family: var(--font-bold);
    font-size: 1.75rem;
    color: var(--white-color);
    margin: 0;
}

.services-text {
    position: absolute;
    top: 1.3rem;   
    left: 35rem;   
}

.services-line1 {
    font-family: var(--font-bold);
    font-size: 3.6rem;
    color: var(--white-color);
    margin: 0;
    display: inline-block; 
}

.services-line2, .services-line3 {
    font-size: 3.6rem;
    color: var(--white-color);
    margin: 0;
    display: block; 
    margin-bottom: 0rem; 
}

.services-line2 {
    font-family: var(--font-gogol);
}

.services-line3 {
    font-family: var(--font-bold);
}

.services-line4 {
    font-family: var(--font-bold);
    font-size: 3.6rem;
    color: var(--white-color);
    margin-bottom: 10rem;
    display: block;  
}

.services-image {
    position: absolute;
    left: 0;
    bottom: 3.125rem;
    z-index: 20;
    transform: translateX(-10%);
    order: 2; 
    align-self: flex-end; 
    margin-bottom: 0; 
    position: absolute; 
    right: 0; 
    bottom: 0; 
}
